 <tr>
    <td><%= song.tracknumber %></td>
    <td><%= song.title %></td>
    <td><%= song.artist %></td>
    <td><%= song.length %></td>
    <td><%= song.bitrate %></td>
    <td><%= song.sample_rate %></td>
    <td><%= song.filepath %></td>
  </tr>
