<h1>My Songs</h1>

<table>
  <tr>
    <th><%= t("song.tracknumber") %></th>
    <th><%= t("song.title") %></th>
    <th><%= t("song.artist") %></th>
    <th><%= t("song.length") %></th>
    <th><%= t("song.bitrate") %></th>
    <th><%= t("song.sample_rate") %></th>
    <th><%= t("song.filepath") %></th>
  </tr>
  
<% @songs.each do |song| %>
  <tr>
    <td><%= song.tracknumber %></td>
    <td><%= song.title %></td>
    <td><%= song.artist %></td>
    <td><%= song.length %></td>
    <td><%= song.bitrate %></td>
    <td><%= song.sample_rate %></td>
    <td><%= song.filepath %></td>
  </tr>
<% end %>
</table>
