<h1><%= t("search.title_result")%></h1>

<%= render("shared/search_form")%>

<p>
  <%= t("search.about_my_search_html", :search => params[:q], :count => @songs.count)%>
</p>

<a class="stop" href="#">stop</a>

<%= paginate @songs %>

<%= render "song", :locals => {:songs => @songs} %>


